button {
    outline: none;
    border: none;
    border-radius: 4px;
    height: 1.5rem;
    min-width: 4.5rem;
    color: white;
    font-weight: 500;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn--green {
    background-color: rgb(117, 245, 117);
}

.btn--red {
    background-color: rgb(233, 79, 79);
}

.btn--blue {
    background-color: aqua;
}
